@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ad5389;
  background: linear-gradient(to right, #190125, #2b011a);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(to right, #79578b, #ece8eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
